/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden; /* prevent full page horizontal scroll */
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
        --destructive: #e7000b;
    }
}

body {
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .flex-j-between-i-start {
        @apply flex flex-col items-start justify-between w-full gap-1;
    }

    .login-input_box {
        @apply rounded-[12px] text-[13px] text-black w-full p-2 focus:outline-none focus:shadow-md focus:shadow-gray-400;
    }

    .login-btn {
        @apply bg-primary-100 w-full py-2 rounded-2xl font-medium mt-2;
    }

    .nav-links {
        @apply p-2 rounded hover:bg-primary transition;
    }
}
